<!DOCTYPE html>

<html>
<title>NetFics</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Berkshire+Swash">
<link rel="stylesheet" href="../static/css/endgame.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Berkshire Swash", sans-serif; color:#002b36}
.w3-bar-block .w3-bar-item {padding:20px}

</style>
<body>
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding-16" style="max-width:1200px;margin-top:50px;background-color:#eee8d5;border-radius:10px;">

  <!-- First Photo Grid-->
  <div style="text-align:center" class="myfont">
  <h1> NetFics: Watch What You Read </h2>
      <p><h4> Give us a Fiction Novel, and We'll Suggest Movies with Similar Content </h4></p>
  </div>

  	    <div class="col-sm m-3 text-center w3-center">
               <form action="." method="POST">
                  <p><input class="form-control w3-center" name='Book_Name' placeholder="e.g. Harry Potter and the Order of the Phoenix" style="width:75%;" /></p>
                  <button type="submit" class="btn btn-outline btn-xl" />Find my Movie!</button>
                </form>
        </div>
    <!-- Footer -->
  <footer class="w3-row-padding w3-padding-32">
    <div class="w3-third" style="text-align:center;">
      <h3>About</h3>
      <p> NetFics: My Insight Data Science Project</p>
      <p> Colin Lewis, PhD </p>
    </div>

    <div class="w3-third w3-serif">
        <p></p>
    </div>

    <div class="w3-third" style="text-align:center;">
      <h3>Links</h3>
      <p> <a href="http://github.com/astrocoolin/DS_Project" target="_blank"> Github</a>, <a href="https://www.linkedin.com/in/colin-n-lewis/" target="_blank"> Linkedin </a>  </p>
    </div>
  </footer>

</body>

</html>
