<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>DoublePlusBooks</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/vendor/simple-line-icons/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="../static/device-mockups/device-mockups.min.css">

  <!-- Custom styles for this template -->
  <link href="../static/css/new-age.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation Would Go Here-->

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-15 my-auto"> 
          <div class="header-content mx-auto">
            <h1 class="mb-5">Find a Film to Complement Your Favourite Book:</h1>
            <form action="." method="POST">
               <p><input name='Book_Name' placeholder="e.g. The Hobbit" /></p>
               <button type="submit" class="btn btn-outline btn-xl" />Find a Movie!</button>
            </form>
	  </div>
	</div>
          <div class="col-lg-15 my-auto my-15">
            <div class="header-content mx-auto">
               <h1 class="mb-250"> {{ output }} </h1>
	    </div>
	</div>
</body>

</html>
