<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>DoublePlusBooks</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/vendor/simple-line-icons/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="../static/device-mockups/device-mockups.min.css">

  <!-- Custom styles for this template -->
  <link href="../static/css/new-age.css" rel="stylesheet">

</head>

<body id="page-top">
  <header class="masthead">
   <div class="whole-box">
    <div class="container big-box">

      <div class="container title-box margin-top 50">
	<img src="../static/img/Title.png" style="width:100%">
      </div>
      <div class="container big-box">
	    <div class="col-sm m-3 text-center">
               <form action="." method="POST">
                  <p><input class="form-control" name='Book_Name' placeholder="e.g. Harry Potter and the Order of the Phoenix" /></p>
                  <button type="submit" class="btn btn-outline btn-xl" />Recommend a Movie!</button>
                </form>
	    </div>
      </div>
    
    </div>
    <div class="container big-box">
       <div class="title_images"> 
	       <div class='container big-box'>
	               <div class='container small_bookbox'>
            		   <h1 class="text-center" style="color:white;font-size:25px">Your Book:</h1>
	    		   <h1 class="text-center" style="color:white;font-size:25px">{{ book_title }}</h1>
		       	   <div class="i_image">
			        <img src={{ book_cover }} style="height:300px">
		       	   </div>
		       </div>
	               <div class='container small_moviebox'>
            		   <h1 class="text-center" style="color:white;font-size:25px" >Our Suggestion:</h1>
		           <h1 class="text-center" style="color:white;font-size:25px">{{ movie_title }}</h1>
		       	      <div class="j_image">
			         <img src={{ movie_cover }} style="height:300px">
		              </div>
		       </div>
	       </div>
       </div>
        <h1 class="text-center" style="color:white;font-size:25px"> Keywords: {{ keywords }} </h1>
            <h1 class="text-center" style="color:white;font-size:25px">Other suggestions: {{ sugg_two }} , {{ sugg_three }} </h1>
   </div>
  </header>
</body>

</html>
