<!DOCTYPE html>

<html>
<title>NetFics</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="../static/css/endgame.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
<body>
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding-16" style="max-width:1200px;margin-top:50px;background-color:#eee8d5;border-radius:10px">

  <!-- First Photo Grid-->
  <h1> Finding Suggestions for "{{ book_title }}" </h1>
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
    </div>
    <div class="w3-quarter">
    </div>
    <div class="w3-quarter">
	    <img src={{ book_cover }} alt="Cherries" style="width:100%">
    </div>
    <div class="w3-quarter">
    </div>
  </div>
    <!-- Footer -->
  <footer class="w3-row-padding w3-padding-32">
    <div class="w3-third">
      <h3>About</h3>
      <p> NetFics: My Insight Data Science Project</p>
      <p> Colin Lewis, PhD </p>
      <p> <a href="http://github.com/astrocoolin/DS_Project" target="_blank"> Github</a> for nerds </p>
    </div>

    <div class="w3-third">
    </div>

    <div class="w3-third w3-serif">
      <h3>Try Again!</h3>
      <p>
        poo poo
      </p>
    </div>
  </footer>

</body>

</html>
